<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %>: Full Menu</title>
</head>
<%- include('./partials/nav') %>
<body>
  <h1>Full Menu</h1>
  <ul>
    <% menu.forEach(item => { %>
        <li>            
            <h2><%= item.name %> <%= item.rating === 5 ? '⭐️' : '' %></h2>
            <p><strong>Price:</strong> $<%=item.price.toFixed(2)%></p>
            <p><strong>Rating:</strong> <%=item.rating.toFixed(1)%> ✰</p>
            <p><strong>Details:</strong> <%= item.details%></p>
        </li>
    <% }) %>
  </ul>
</body>
</html>
